* {
  box-sizing: border-box;
}
body {
  font-size: 12px;
  margin: 0;
}
.v161_438 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v161_439 {
  width: 100%;
  height: 100%;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v161_440 {
  width: 100%;
  height: 129px;
  background: rgba(93,167,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v161_441 {
  width: 365px;
  color: rgba(19,22,84,1);
  position: absolute;
  top: 71px;
  left: 720px;
  font-family: Gentium Book Basic;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v161_442 {
  width: 82px;
  height: 76px;
  background: rgba(26,46,119,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1134px;
  border-radius: 50%;
}
.v161_443 {
  width: 82px;
  height: 76px;
  background: rgba(26,47,119,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1233px;
  border-radius: 50%;
}
.v161_444 {
  width: 82px;
  height: 76px;
  background: rgba(26,47,119,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1332px;
  border-radius: 50%;
}
.v161_445 {
  width: 240px;
  height: 180px;
  background: rgba(217,217,217,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 492px;
  left: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v161_446 {
  width: 270px;
  height: 58px;
  background: rgba(217,217,217,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 7px;
  box-shadow: 0px 3.7647058963775635px 3px rgba(0, 0, 0, 0.25);
}
/* menu profile */
.v161_447 {
  width: 44px;
  height: 48px;
  background: url("../images/profilepic.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 16px;
  overflow: hidden;
}
.v161_448 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 158px;
  left: 70px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v161_449 {
  width: 100%;
  height: 64px;
  background: rgba(26,46,119,1);
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 284px;
  overflow: hidden;
}
.v161_546 {
  width: 100%;
  height: 790px;
  background: url("../images/v161_546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 284px;
  overflow: hidden;
}
.v161_450 {
  width: 100%;
  height: 790px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.v161_549 {
  width: 62px;
  height: 64px;
  background: rgba(41,66,155,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 301px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_550 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 314px;
  left: 314px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v161_551 {
  width: 62px;
  height: 86px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 301px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_552 {
  width: 294px;
  height: 64px;
  background: rgba(41,66,155,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 707px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_554 {
  width: 200px;
  height: 64px;
  background: rgba(41,66,155,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 1001px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_555 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 316px;
  left: 1064px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v161_556 {
  width: 148px;
  height: 64px;
  background: rgba(41,66,155,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 362px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_557 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 305px;
  left: 356px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v161_558 {
  width: 197px;
  height: 64px;
  background: rgba(41,66,155,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 510px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_559 {
  width: 294px;
  height: 86px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 707px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_560 {
  width: 264px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 720px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_561 {
  width: 200px;
  height: 86px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 1001px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_562 {
  width: 148px;
  height: 86px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 362px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_563 {
  width: 197px;
  height: 86px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 510px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_564 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 384px;
  left: 1037px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_565 {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 371px;
  left: 326px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_566 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 391px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_567 {
  width: 206px;
  height: 64px;
  background: rgba(41,66,155,1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 1201px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_568 {
  width: 147px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 314px;
  left: 1230px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v161_569 {
  width: 62px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 301px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_570 {
  width: 294px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 707px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_571 {
  width: 148px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 362px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_572 {
  width: 197px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 510px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_573 {
  width: 577px;
  height: 38px;
  background: url("../images/.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 313px;
  overflow: hidden;
}
.v161_574 {
  width: 242px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_575 {
  width: 19px;
  height: 16px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 231px;
}
.v161_576 {
  width: 171px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 18px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v161_577 {
  width: 335px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 242px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_578 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 314px;
  left: 523px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v161_579 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 551px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_580 {
  width: 206px;
  height: 86px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 1201px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_582 {
  width: 33px;
  height: 32px;
  background: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 903px;
  overflow: hidden;
}
.v161_583 {
  width: 200px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 1001px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_584 {
  width: 206px;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 1201px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v161_585 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 475px;
  left: 324px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_586 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 475px;
  left: 389px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_587 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 556px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_588 {
  width: 264px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 720px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_589 {
  width: 129px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 1036px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v161_451 {
  width: 65px;
  height: 69px;
  background: url("../images/notification.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1142px;
  overflow: hidden;
}

.v161_452 {
  width: 84px;
  height: 67px;
  background: url("../images/logout.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 1325px;
  overflow: hidden;
}

.v161_453 {
  width: 84px;
  height: 67px;
  background: url("../images/contact.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 1230px;
  overflow: hidden;
}
.v161_454 {
  width: 720px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 166px;
  left: 313px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v161_455 {
  width: 694px;
  height: 119px;
  background: url("../images/v161_455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 7px;
  overflow: hidden;
}
.v161_456 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 510px;
  left: 41px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v161_457 {
  width: 244px;
  height: 180px;
  background: rgba(217,217,217,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 831px;
  left: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v161_458 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 843px;
  left: 38px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v161_459 {
  width: 226px;
  height: 32px;
  background: rgba(104,160,212,1);
  opacity: 1;
  position: absolute;
  top: 863px;
  left: 27px;
}
.v161_471 {
  width: 226px;
  height: 32px;
  background: rgba(104,160,212,1);
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 33px;
}
.v161_472 {
  width: 226px;
  height: 32px;
  background: rgba(104,160,212,1);
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 33px;
}
.v161_473 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 578px;
  left: 48px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v161_475 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 539px;
  left: 48px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v161_476 {
  width: 226px;
  height: 32px;
  background: rgba(104,160,212,1);
  opacity: 1;
  position: absolute;
  top: 901px;
  left: 28px;
}
.v161_477 {
  width: 270px;
  height: 100px;
  background: rgba(217,217,217,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v161_478 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 215px;
  left: 45px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v161_479 {
  width: 237px;
  height: 32px;
  background: rgba(104,161,212,1);
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 22px;
}
.v161_480 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 239px;
  left: 45px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v161_481 {
  width: 237px;
  height: 32px;
  background: rgba(104,160,212,1);
  opacity: 1;
  position: absolute;
  top: 269px;
  left: 22px;
}
.v161_482 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 903px;
  left: 44px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v161_483 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 867px;
  left: 44px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v161_484 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 45px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v161_596 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 1292px;
  overflow: hidden;
}
.v161_598 {
  width: 18px;
  height: 18px;
  background: url("../images/v161_598.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid rgba(0,0,0,1);
}
.v307_641 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 1292px;
  overflow: hidden;
}
.v307_642 {
  width: 13px;
  height: 10px;
  background: url("../images/v307_642.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 9px;
  border: 2px solid rgba(0,0,0,1);
}
.name {
  color: #fff;
}
.v307_648 {
  width: 100px;
  height: 100px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 704px;
  left: 106px;
  overflow: hidden;
}
.v307_649 {
  width: 9px;
  height: 7px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 49px;
  overflow: hidden;
}
.v307_650 {
  width: 250px;
  height: 135px;
  background: rgba(217,217,217,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 694px;
  left: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v307_651 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 710px;
  left: 39px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v307_652 {
  width: 226px;
  height: 32px;
  background: rgba(104,160,212,1);
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 28px;
}
.v307_653 {
  width: 226px;
  height: 32px;
  background: rgba(26,47,119,1);
  opacity: 1;
  position: absolute;
  top: 735px;
  left: 28px;
}
.v307_654 {
  width: 241px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 741px;
  left: 39px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v307_655 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 771px;
  left: 39px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v331_373 {
  width: 330px;
  height: 901px;
  background: url("../images/v331_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 16px;
  overflow: hidden;
}
.v331_374 {
  width: 240px;
  height: 161px;
  background: rgba(217,217,217,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v331_375 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 334px;
  left: 45px;
  font-family: Domine;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v331_376 {
  width: 226px;
  height: 32px;
  background: rgba(104,161,212,1);
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 32px;
}
.v331_377 {
  width: 226px;
  height: 32px;
  background: rgba(104,160,212,1);
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 33px;
}
.v331_378 {
  width: 225px;
  height: 32px;
  background: rgba(104,161,212,1);
  opacity: 1;
  position: absolute;
  top: 431px;
  left: 33px;
}
.v331_379 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 48px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v331_380 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 359px;
  left: 48px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v331_381 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 397px;
  left: 48px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v331_382 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 48px;
  font-family: Archivo Narrow;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
